.heading{
  width:100%;
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  font-family: Comic Sans MS;
  text-align:center;
  color:white;
}

.heading h1{
  font-size:80px;
  margin-top:90px;
}

.heading p{
  margin:20px auto;
  font-weight: 100;
  line-height:25px;
}

button{
  width:150px;
  padding: 10px 0;
  position: relative;
  text-align: cfenter;
  margin: 15px 15px;
  border-radius:25px;
  font-weight: bold;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  overflow:hidden;
}

button:hover span{
  height:100%;
}

button:hover{
  color:grey;
  border-color:grey;
  background:white;
  transition:0.5s;
}

.banner{
  width:100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/images/top.jpg);
  background-size: cover;
  background-position:center;
}

body {
	padding: 0;
	margin: 0;
}

nav {
	font-family: Comic Sans MS;
	padding: 0 5%;
	height: 100px;
	background-color: rgb(78, 78, 78);
  position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
}

nav .name {
	float: left;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 25px;
	color: white;
}

nav .links {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
  float: right;
	padding: 0;
	margin: 0;
	width: 50%;
}

nav .links li {
	list-style: none;
}

nav .links li:hover{
  background: rgb(56, 56, 56);
  transition: 0.2s;
  border-radius:30px;
}

a{
    position: relative;
    text-decoration: none;
}

a:after{
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

a:hover{
    color: white;
}

a:hover:after{
    width: 100%;
}

nav .links a {
	font-weight: bold;
	color: white;
	text-decoration: none;
  display: block;
	padding: 10px;
	font-size: 15px;
}

nav .burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all 1s ease-in-out;
}

#sidenav {
	position: absolute;
	top: -100px;
}

.card {
  background: radial-gradient(rgb(230,230,230), rgb(200, 200, 200), rgb(150, 150, 150));
  color: white;
  padding: 20px;
  height: 550px;
}

.cards {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
}