  *,h1,h2,h3,h4,h6 {
    font-size: 15px;
    color: white;
    font-family: comic sans MS, FontAwesome;
    transition: all 0.5s ease-in;
  }

  .musiccov {
    height: 410px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: center;
    align-items: center;
    transform: translate(0, 0);
    box-shadow: 0 0 20px 15px rgba(0, 255, 255, 0.4);
    overflow: hidden;
    border-radius: 25px;
  }

  input[type=checkbox] {
    visibility: hidden;
    margin: 0;
    padding: 0;
    z-index: 10;
  }

  label.main:before {
    position: absolute;
    color: white;
    cursor: pointer;
    top: 20px;
    left: 20px;
    line-height: 15px;
    content: '\f001';
    z-index: 10;
  }

  label.main:hover:before {
    color: cyan;
  }

  .musiccov > #tick:checked ~ label.main:before {
    color: cyan;
  }

  .coverpage{
    background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url(images/music.jpg)center no-repeat;
    background-size:cover;
    transform-origin: 0% 0%;
    width:100%;
    height:350px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .musiccov > #tick:checked ~ .coverpage {
    transform: scale(0.250, 0.250);
    left: 25px;
    top: 75px;
    border-radius: 50%;
  }

  .search:before {
    position: absolute;
    top: 25px;
    right: 25px;
    content: '\f002';
    color: white;
    line-height: 15px;
    cursor: pointer;
    z-index: 10;
  }

  .search:hover:before {
    color: cyan;
  }

  .playfunc {
    background: none;
    position: absolute;
    top: 350px;
    height: 300px;
    width: 350px;
  }

  .musiccov > #tick:checked ~ .playfunc {
    height: 470px;
    left: 0;
    top: 180px;
  }

  .tracks {
    border-spacing: 0px 5px;
    width: 350px;
    top: 400px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transform: scale(0.1, 0.1);
  }

  .tracks tr {
    transform-origin: 0% 50%;
    height: 50px;
    text-align: center;
    background: grey;
    text-indent: 8px;
    
  }

  .tracks tr:hover {
    background: rgb(70, 70, 70);
    cursor: pointer;
  }

  .title {
    width: 200px;
    text-align: left;
    text-indent: 20px;
  }
  .tracks tr:hover .title{
    padding-left: 5px;
    width: 210px;
  }
  .musiccov > #tick:checked ~ .tracks{
    top: 200px;
    width:100%;
    display: flex;
    justify-content: space-around;
    opacity: 1;
    visibility: visible;
    transform: scale(1,1);
  }

  label.icons:before{
    font-family: FontAwesome;
    content: '\f164';
    color:white;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
    z-index: 10;
  }

  td > #like:checked ~ label.icons:before{
    content: "\f164";
    color: cyan;
  }
  td > #like1:checked ~ label.icons:before{
    content: "\f164";
    color: cyan;
  }
  td > #like2:checked ~ label.icons:before{
    content: "\f164";
    color: cyan;
  }
  td > #like3:checked ~ label.icons:before{
    content: "\f164";
    color: cyan;
  }

  .musiccov > #tick ~ table tr:nth-child(1){
    animation-delay: 0.5s;
  }

  .musiccov > #tick ~ table tr:nth-child(2){
    animation-delay: 0.5s;
  }

  .musiccov > #tick ~ table tr:nth-child(3){
    animation-delay: 0.5s;
  }

  .songdet{
    top: 450px;
    position: absolute;
    left: 100px;
  }

  .musiccov > #tick:checked ~ .songdet {
    top: 50px;
    left: 100px;
    text-align: left;
  }

  .musiccov > #tick:checked ~ .songdet{
    margin-left: 0;
    font-size: 15px;
  }

  .controlfunc{
    background: none;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    width: 200px;
    height: 35px;
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 15;
  }

  .controlfunc td{
    width: 50px;
  }

  .back:before{
    content: "\f048";
    cursor: pointer;
  }

  .next:before{
    content:"\f051";
    cursor: pointer;
  }

  .play:before{
    content: "\f144";
    font-size:35px;
    cursor: pointer;
  }

  .back:hover:before{
    color: cyan;
  }

  .next:hover:before{
    color: cyan;
  }

  .play:hover:before{
    color: cyan;
  }

  td > #play:checked ~ label.play:before{
    content: "\f28b";
  }

  .musiccov > #tick:checked ~ .controlfunc{
    bottom: 5px;
    left: -20px;
    transform: scale(0.7,0.7);
  }

  .buttoncontrol{
    height: 50px;
    width: 100%;
    text-align:center;
    color: grey;
    position: absolute;
    bottom: 10px;
    z-index: 20;
  }

  .like:before{
    content: "\f164";
    cursor: pointer;
    color: grey;
  }

  .loop:before{
    content: "\f2f9";
    cursor: pointer;
    color: grey;
  }

  .shuffle:before{
    content: "\f074";
    cursor: pointer;
    color: grey;
  }

  .like:hover:before{
    color: white;
  }

  .loop:hover:before{
    color: white;
  }

  .shuffle:hover:before{
    color: white;
  }

  td > #like:checked ~ label.like:before{
    content: "\f164";
    color: cyan;
  }

  td > #loop:checked ~ label.loop:before{
    color: cyan;
  }

  td > #shuffle:checked ~ label.shuffle:before{
    color: cyan;
  }

  .musiccov > #tick:checked ~ .buttoncontrol{
    bottom: -60px;
  }

  .musiccov > #tick:checked ~ .playing {
    bottom: 20px;
  }

  audio{
    visibility: hidden;
  }

  .playing{
    position: absolute;
    right: 20px;
    bottom: -60px;
  }





